<%- include("header.ejs") -%>

<h2 class="about-header">About Page</h2>

<p class="about-text">This Todo List application was built for fun to apply my knowledge 
  in the server side of web applications. I've applied my knowledge of node.js and 
  express.js, HTTP methods and routing, database storage and CRUD operations with MongoDB
  and mongoose, and client side rendering with EJS. Thank you for visiting!
</p>

<%- include("footer.ejs") -%>